@import "tailwindcss";
@import "@heroui/styles"; 

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    color-scheme: light !important; 
  }

  .dark {
    --background: #020617; 
    --foreground: #ffffff;
    color-scheme: dark !important;
  }
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  @apply min-h-screen transition-colors duration-300 antialiased;
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    color-scheme: light !important;
  }
}