@import "tailwindcss";
@import "@heroui/styles"; 

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    color-scheme: light !important; 
  }

  .dark {
    --background: #020617; 
    --foreground: #ffffff;
    color-scheme: dark !important;
  }
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  @apply min-h-screen transition-colors duration-300 antialiased;
}


html {
      scroll-behavior: smooth;
    }

@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    color-scheme: light !important;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}